@define-color accent #c4746e;
@define-color fg #c5c9c5;
@define-color bg #181616;
@define-color bg-alt #a6a69c;

* {
    font-size: 16px;
    min-height: 0;
}


window#waybar {
    margin: 10px 10px 0px 10px;
    background-color: @bg;
    border-bottom: 2px solid @bg-alt;
    border-left: 2px solid @bg-alt;
    border-right: 2px solid @bg-alt;
    border-top: 2px solid @bg-alt;
}

#mode {
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    color: @accent;
}

#language,
#cpu,
#pulseaudio,
#battery,
#backlight,
#custom-clock {
    font-family: "JetBrainsMono Nerd Font";
    color: @fg;
}

#workspaces {
    font-family: "JetBrainsMono Nerd Font";
    border-bottom: 2px solid @bg-alt;
    border-left: 2px solid @bg-alt;
    border-top: 2px solid @bg-alt;
}

#workspaces button {
    padding: 7px 12px 7px 12px;
    color: @fg;
    background-color: @bg;
    border: none;
}

#workspaces button:hover {
    background: none;
    border: none;
    border-color: transparent;
    transition: none;
}

#workspaces button.active {
    border-radius: 0;
    color: @accent;
    font-weight: bold;
}

#tray {
    font-family: "Ubuntu";
    padding-right: 5px;
    padding-left: 10px;
}
